[Unit]
Description=gmedia mergerfs movies mount
Requires=rclone.service
After=rclone.service
ConditionPathExists=/mnt/gd/Media

[Service]
Type=forking
ExecStart=/usr/bin/mergerfs /mnt/btrfs=RW:/mnt/gd=RW /mnt/media -o rw,async_read=false,use_ino,allow_other,func.getattr=newest,category.action=ff,category.create=ff,cache.files=partial,dropcacheonclose=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
